@import "tailwindcss";

:root {
  /* Color Variable */
  --light: #ffffff;
  --dark: #171717;
  --width-screen: 1920px;
  --height-screen: 1080px;
  --text-color-main: #181818;
  --size-text: 14px;
}

/* Reset CSS */
* {
  box-sizing: border-box;
}

div {
}

select {
  border: none;
  outline: none;
  /* appearance: none;  */
}