@import "tailwindcss";

:root {
  /* Color Variable */
  --light: #ffffff;
  --dark: #171717;
  --width-screen: 1920px;
  --height-screen: 1080px;
  --size-text: 14px;
  --padding-screen: 10%;
  --text-color: #373737;
}

/* Reset CSS */
* {
  box-sizing: border-box;
}


select {
  border: none;
  outline: none;
  /* appearance: none;  */
}

select option:checked,
select option:hover {
  background-color: #FF35C4;
  /* màu tím hồng */
  color: white;
}

.flag-dropdown,
.selected-flag,
.selected-flag:hover {
  background: #f1f1f1 !important;
  border-top-left-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
  border: none !important;
}

.flag-dropdown {
  border: 1px solid #636364 !important;
}

.react-tel-input .form-control {
  border: 1px solid #636364 !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(30%) sepia(98%) saturate(1300%) hue-rotate(245deg);
}

.custom-scroll::-webkit-scrollbar {
  width: 4px;
}

/* Màu nền thanh cuộn */
.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

/* Màu phần scrollable (thanh kéo) */
/* .custom-scroll::-webkit-scrollbar-thumb {
  background-color: rgb(255, 0, 204, 0.5);
  border-radius: 4px;
} */

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: rgb(255, 0, 204, 0.5);
  border-radius: 4px;

  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  background-clip: content-box;
}

.ant-table-thead>tr>th {
  text-align: center !important;
}

.custom-color.custom-scroll::-webkit-scrollbar-thumb {
  background-color: rgb(130, 47, 255, 0.5);
}